{
  "swagger": "2.0",
  "info": {
    "description": "opendata-finance-kr의 open API 서비스입니다.",
    "version": "0.0.1",
    "title": "opendata-finance-kr",
    "termsOfService": "http://terms.of.service.io",
    "contact": {
      "email": "gkim9213@gmail.com"
    },
    "license": {
      "name": "License",
      "url": "http://license.io"
    }
  },
  "host": "apis.opendata-finance-kr.com",
  "basePath": "/",
  "tags": [
    {
      "name": "stock price",
      "description": "일별 가격 횡단면 데이터 조회"
    },
    {
      "name": "variable",
      "description": "월별 (분기별) 주요지표 데이터 조회",
      "externalDocs": {
        "description": "데이터셋 다운로드",
        "url": "http://www.opendata-finance-kr.com/datasets/"
      }
    },
    {
      "name": "factor portfolio",
      "description": "요인 포트폴리오 구성정보 및 수익률 데이터 조회",
      "externalDocs": {
        "description": "데이터셋 다운로드",
        "url": "http://www.opendata-finance-kr.com/datasets/"
      }
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/stock-price/list": {
      "get": {
        "tags": [
          "stock price"
        ],
        "summary": "일별 가격 횡단면 데이터 csv 파일 목록 조회",
        "description": "다운로드 가능한 일별 가격 횡단면 데이터 csv 파일목록을 조회합니다.",
        "operationId": "listStockPrices",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "example": "20221229"
                  },
                  "download_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/variable/list": {
      "get": {
        "tags": [
          "variable"
        ],
        "summary": "주요지표목록 조회 ",
        "description": "요청 가능한 주요지표들의 목록을 조회합니다.",
        "operationId": "listVariables",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Variable"
              }
            }
          }
        }
      }
    },
    "/variable/{model_name}/{id}/cross-section/{yyyymm}": {
      "get": {
        "tags": [
          "variable"
        ],
        "summary": "주요지표 횡단면 데이터 조회",
        "description": "기준년월 말일로부터 최대 3개월 이내에 관측된 주요지표의 기업별 횡단면 데이터를 조회합니다.",
        "operationId": "crossSectionVariable",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model_name",
            "in": "path",
            "description": "주요지표 클래스를 지칭하는 요청인자입니다. 주요지표목록 응답결과 address의 model_name에 해당합니다.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "주요지표 클래스 내 해당 주요지표의 고유번호입니다. 주요지표목록 응답결과 address의 id에 해당합니다.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "yyyymm",
            "in": "path",
            "description": "조회 기준년월입니다. 기준년월 말일로부터 최대 3개월 이내에 관측된 기업별 주요지표를 조회합니다.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/VariableRecords"
            }
          },
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/variable/{model_name}/{id}/time-series/{stock_code}": {
      "get": {
        "tags": [
          "variable"
        ],
        "summary": "종목별 주요지표 시계열 조회",
        "description": "주요지표의 종목별 시계열 데이터를 조회합니다",
        "operationId": "timeSeriesVariable",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "model_name",
            "in": "path",
            "description": "주요지표 클래스를 지칭하는 요청인자입니다. 주요지표목록 응답결과 address의 model_name에 해당합니다.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "주요지표 클래스 내 해당 주요지표의 고유번호입니다. 주요지표목록 응답결과 address의 id에 해당합니다.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "stock_code",
            "in": "path",
            "description": "6자리 종목코드",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/VariableRecords"
            }
          },
          "204": {
            "description": "no content"
          }
        }
      }
    },
    "/factor-group/list": {
      "get": {
        "tags": [
          "factor portfolio"
        ],
        "summary": "요인 포트폴리오 구성기준 목록 조회",
        "description": "요인 포트포트폴리오 구성기준들의 목록을 조회합니다.",
        "operationId": "listFactorGroup",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FactorGroup"
              }
            }
          }
        }
      }
    },
    "/factor-group/{group_id}/portfolio/list": {
      "get": {
        "tags": [
          "factor portfolio"
        ],
        "summary": "요인 포트폴리오 목록 조회",
        "description": "요인 기준에 따라 구성된 포트폴리오 목록 및 포트폴리오별 구성종목을 조회합니다.",
        "operationId": "listFactorPortfolios",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "요인 포트폴리오 구성기준의 고유번호입니다. 요인 포트폴리오 구성기준 목록 조회 응답결과 address의 group_id에 해당합니다.",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/FactorGroupPortfolioList"
            }
          }
        }
      }
    },
    "/factor-group/{group_id}/portfolio/{portfolio_label}/performance": {
      "get": {
        "tags": [
          "factor portfolio"
        ],
        "summary": "요인 포트폴리오 일별 수익률 조회",
        "description": "2022-12-29부터 현재까지 요인 포트폴리오의 일별 수익률을 조회합니다.",
        "operationId": "performanceByPortfolio",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "요인 포트폴리오 구성기준의 고유번호입니다. 요인 포트폴리오 구성기준 목록 조회 응답결과 address의 group_id에 해당합니다.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "portfolio_label",
            "in": "path",
            "description": "요인 포트폴리오의 고유 label입니다. 요인 포트폴리오 목록 조회 응답결과 portfolios의 각 항목 label에 해당합니다.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/FactorPortfolioPerformance"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Variable": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "book_to_market"
        },
        "address": {
          "$ref": "#/definitions/VariableAddress"
        },
        "label_en": {
          "type": "string",
          "example": "book to market"
        },
        "label_kr": {
          "type": "string",
          "example": "장부가치 (시가총액대비)"
        },
        "download_url": {
          "type": "string"
        }
      }
    },
    "VariableAddress": {
      "type": "object",
      "properties": {
        "model_name": {
          "type": "string",
          "example": "PriceRatio"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "example": 19
        }
      }
    },
    "VariableRecords": {
      "type": "object",
      "properties": {
        "variable": {
          "$ref": "#/definitions/Variable"
        },
        "records": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Record"
          }
        }
      }
    },
    "Record": {
      "type": "object",
      "properties": {
        "date": {
          "type": "string"
        },
        "value": {
          "type": "number",
          "format": "float"
        },
        "market": {
          "type": "string",
          "example": "KOSPI"
        },
        "stock_code": {
          "type": "string",
          "example": "005930"
        }
      }
    },
    "Factor": {
      "type": "object",
      "properties": {
        "variable": {
          "$ref": "#/definitions/Variable"
        },
        "lookback": {
          "type": "integer",
          "format": "int64",
          "example": 6
        },
        "quantiles": {
          "type": "array",
          "example": [
            0,
            0.3,
            0.7,
            1
          ],
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "labels": {
          "type": "array",
          "example": [
            "bottom",
            "middle",
            "top"
          ],
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FactorGroup": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "BookToMarket"
        },
        "address": {
          "type": "object",
          "properties": {
            "group_id": {
              "type": "integer",
              "format": "int64",
              "example": 7
            }
          }
        },
        "rebalancing_frequency": {
          "type": "integer",
          "format": "int64"
        },
        "last_rebalance": {
          "type": "string",
          "example": "20220630"
        },
        "factors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Factor"
          }
        },
        "download_url": {
          "type": "string"
        }
      }
    },
    "FactorGroupPortfolioList": {
      "type": "object",
      "properties": {
        "factor_group": {
          "$ref": "#/definitions/FactorGroup"
        },
        "portfolios": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FactorPortfolio"
          }
        }
      }
    },
    "FactorPortfolio": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "ranges": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FactorRange"
          }
        },
        "entries": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FactorRange": {
      "type": "object",
      "properties": {
        "factor_name": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "range": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        }
      }
    },
    "FactorPortfolioPerformance": {
      "type": "object",
      "properties": {
        "portfolio": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "ranges": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FactorRange"
              }
            }
          }
        },
        "records": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string"
              },
              "rp": {
                "type": "number",
                "format": "float"
              }
            }
          }
        }
      }
    }
  }
}
